<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="alien" class="org.example.Alien" autowire="byType">
<!--        Setter Dependency Injection-->
        <property name="language" value="C"/>
        <!-- Inner Bean -->
        <property name="com">
            <bean id="com3" class="org.example.SmartGlass"/>
        </property>
<!--        <property name="com" ref="com1"/>-->

<!--        Constructor Dependency Injection -->
<!--        <constructor-arg index="1" ref="c1" />
            <constructor-arg index="0" value="C++"/>
-->
<!--        <constructor-arg type="org.example.Laptop" ref="c1" />-->
<!--        <constructor-arg type="String" value="php" />-->

<!--        <constructor-arg name="language" value="react" />-->
<!--        <constructor-arg name="com" ref="c1" />-->


    </bean>
    <bean id="com2" class="org.example.Desktop" primary="true"/>
    <bean id="com1" class="org.example.Laptop" lazy-init="true"/>

</beans>